.variation-options > li {
  cursor: pointer;
  padding: 10px;
}
.options-item.color  > div {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  border: 2px solid #939494;
  box-shadow: -5px 4px 6px 0px;
}
.options-item{
  display: inline-grid;
}

.options-item.input > div {
  border: 2px solid #939494;
  background: #f6f9f9;
  text-align: center;
  padding: 5px;
  width: 35px;
  box-shadow: -5px 4px 6px 0px;
}

.options-item > div:hover,.options-item > div:active, .options-item > div.active {
  border: 2px solid #00bfbf;
  box-shadow: none;
}
.option-title{
  font-size: 15px;
  color: #00bfd9;
}
